# Node modules
node_modules/

# Build directory
/build/

# Cache files
.cache/
.parcel-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE config files
.idea/
.vscode/

# Dependency directories
.pnp/
.pnp.js

# Miscellaneous
.DS_Store
.npm/
.eslintcache
.husky/

# Testing and coverage
/coverage/
**/__snapshots__/

# CI/CD
.firebase/
.netlify/

# Ignore local React dev server
.parcel-cache/
